<div id="home">
  <div class="container">
    {{!-- login  --}}
    <button class="btn btn-dark float-right" onclick="document.getElementById('id01').style.display='block'"
      style="width:auto;">Login</button> <br><hr color="red" align="left" width="100%" size="6">

    <div id="id01" class="modal">

      <form class="modal-content animate" action="" method="post">
        <div class="container">
          <label for="uname"><b>Username</b></label>
          <input type="text" placeholder="Enter Username" name="uname" required>

          <label for="psw"><b>Password</b></label>
          <input type="password" placeholder="Enter Password" name="psw" required>

          <button type="submit" class="btn btn-info float-right">Login</button>
          <label>
            <input type="checkbox" checked="checked" name="remember"> Remember me
          </label>
        </div>

        <div class="container" style="background-color:#f1f1f1">
          <button type="button" onclick="document.getElementById('id01').style.display='none'"
            class="logincancelbtn">Cancel</button>
          <span class="psw">Forgot <a href="#">password?</a></span>
        </div>
      </form>
    </div>

    <script>
      // Get the modal
      var modal = document.getElementById('id01');

      // When the user clicks anywhere outside of the modal, close it
      window.onclick = function (event) {
        if (event.target == modal) {
          modal.style.display = "none";
        }
      }
    </script>

    {{!-- _____________ --}}

    <div class="row">
      <div class="col-8 offset-2">
        <img id="logo" class="responsive" src="/img/logo.png" alt="logo"> <br><br>

        {{!-- <h1>{{msg}}</h1>  --}}

        <form class="clearfix mb-4" action="POST">
          <div class="form-group">

            <form class="clearfix mb-4" action="POST">
              <div class="row">
                <div class="col-10">
                  <div class="form-group">

                    <label for="product">Product</label>
                    <input type="text" id="product" class="form-control" aria-describedby="list-text"
                      placeholder="e.g banana , bread, detergent">

                  </div>

                </div>
                <div class="col-2">
                  <div class="form-group">

                    <label for="quantity">#</label>
                    <input type="text" id="quantity" class="form-control" aria-describedby="list-text">

                  </div>


                </div>
              </div>
              <div class="form-group">
                <label for="description">Description</label>
                <textarea class="form-control" id="description" aria-describedby="item-description"
                  placeholder="e.g Pinesole, Cookie Dough, Chips"></textarea>
              </div>
              <button id="submit" class="btn btn-danger float-right">Submit</button>
            </form>

            <h3> Shopping list</h3>
            <ul id="shopping-list" class="list-group">
              {{#each examples}}
              <li data-id="{{this.id}}" class="list-group-item">
                <a href="example/{{this.id}}"> {{this.qty}} {{this.text}} {{this.username}} {{this.password}}</a>
                <button class="btn btn-outline-danger float-right delete">X</button>
              </li>
              {{/each}}
            </ul>

            {{!-- preferences modal --}}
            {{!-- <button type="button" class="btn btn-danger float-right" data-toggle="modal"
          data-target="#preferencesModal">Preferences</button> --}}
          </div>
      </div>
    </div>

    {{!-- map --}}
    <div class="row">
      <div class="col-8 offset-2">
        <button class="accordion" class="btn btn-danger float-right">Nearby Stores</button>
        <div class="panel">
          <div class="row mb-2">
            <div class="col">
              <input class="form-control" style="margin-top: 20px" id="search" type="text" placeholder="Search..." />
            </div>
          </div><br>


          <div id="mapdiv">
            <div id="map"></div>
          </div>
        </div>
      </div>

    </div>




{{!-- recipe search --}}
    <div class="row">
      <div class="col-8 offset-2">
        <button class="accordion">Recipes</button>
        <div class="panel">
          <div class="row">
            <div class="col-12">
              <form id="recipe-form">

                <!-- Label for Text Box -->
                <label for="recipe-input">Product</label>

                <!-- Text Input Box -->
                <input type="text" id="recipe-input" class="form-control" aria-describedby="list-text"
                  placeholder="e.g banana , bread, detergent">



                <!-- Submit Button -->
                <button id="select-recipe" class="btn btn-danger float-right">Search</button>
              </form>

            </div>

            <div id="recipe-output">
              <div class="container-fluid">
                <div class="row">
                  <div id="output" class="col-12">
                  
                  </div>

                </div>
              </div>
            </div>
          </div><br>



        </div>
      </div>

    </div>










  </div>
</div>

</div><br>

<footer>
  <div class="developers">
    <span class="dev">© Developers</span>
    <a class="dev" href="https://github.com/GiorgioGeorge"> <strong>George</strong></a>
    <a class="dev" href="https://github.com/LemonSong17"><strong>Joseph</strong></a>
    <a class="dev" href="https://github.com/anand92490"><strong>Anand</strong></a>
  </div>
</footer>


{{!-- script for accordion --}}
<script>
  var acc = document.getElementsByClassName("accordion");
  var i;
  for (i = 0; i < acc.length; i++) {
    acc[i].addEventListener("click", function () {
      this.classList.toggle("active");
      var panel = this.nextElementSibling;
      if (panel.style.maxHeight) {
        panel.style.maxHeight = null;
      } else {
        panel.style.maxHeight = panel.scrollHeight + "px";
      }
    });
  }
</script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
  integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
  integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>


<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

<script
  src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBkx6csSYgVsdKk50-0CHLp3v2RE8d9pQ0&callback=createMap&libraries=places"
  async defer></script>
<script src="/js/index.js"></script>